#This is the config file for HW6

[Paths]
main_dir = /home/user/Desktop/HW6Autograder
zip_submissions_folder = %(main_dir)s/zips
grade_output_file = %(main_dir)s/hw6Grades.csv
output_log_file = %(main_dir)s/gradingOutput.log

#this roster should have the column order (lastName, firstName,emailAddress)
university_roster = %(main_dir)s/mainRoster.csv

#this roster is optional, should have the column order (firstName, lastName, emailAddress) usually a moodle roster. 
cross_reference_roster = %(main_dir)s/moodleRoster.csv

#This is the location of the grading script with the function "gradeSubmissions(folderWithStudentSubmission)"
grading_script_folder = /home/user/pythonWorkspace/CUAutogradingScripts/CourseFiles/CSCI-1300/HW6
grading_script_file = %(grading_script_folder)s/HW6Grader.py
seed_files = %(grading_script_folder)s/HW6Problem1Seed.txt, %(grading_script_folder)s/HW6Problem2Seed.txt

